/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 15px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Mobile menu styles */
  @media only screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #333;
      z-index: 1;
    }
  
    .nav-links.mobile-menu-open {
      display: flex;
    }
  
    .mobile-menu-icon {
      display: flex;
    }
  }
  